.container-test.container-content {
	width: 70%;
	margin: auto;
}

.navbar-user-img1 {
	margin: -20px 12px -20px 0;
	width: 80px;
	height: 80px;
}

@media ( min-width :992px) {
	.container-fluid.container-content {
		width: 90%;
		margin: auto;
	}
	.col-sm-12>.card h3, .col-sm-12>.card p {
		display: block;
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 50%;
	}
}

.text-primary1 {
	color: #3134ad;
}

.card.receipt {
	min-height: 500px;
}

.card.friendlist {
	min-height: 400px;
}

.col-sm-12>.card div.test {
	display: block;
}

.col-sm-12>.card button.test {
	display: block;
	background: transparent;
    border: 0px;
    color: #2ebd59;
}

.col-sm-12>.card button.test1 {
	display: block;
	background: transparent;
    border: 0px;
    color: #2ebd59;
    width: 100%;
}

.test.form-group:hover {
    background-color: #cccccc;
}


.col-sm-12>.card button > font {

    color: black;
}

@media ( min-width : 992px) {
	.navbar-user-img2 {
		/* margin: -20px 12px -20px 0; */
		width: 40px;
		height: 40px;
	}
}

.navbar-user-img2 {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	display: inline-block;
	vertical-align: middle;
    margin-right: 20px;
}

.navbar-user-img2.user-icon-container {
	border: 2px solid currentColor;
}

.navbar-user-img2.user-icon-container .user-icon {
	fill: currentColor;
	height: 100%;
	padding: 7px;
	width: 100%;
}

.card .form-group .form-control-static1 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.test001 {
    position: relative;
    bottom: -200px;
}

.reboot input[type=text], .reboot input[type=email], .reboot input[type=password], .reboot input[type=number], .reboot input[type=tel], .reboot textarea {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    padding: 1em .75em .6875em;
    width: 100%;
}
.reboot input:not([type='radio']), .reboot textarea {
    background-color: #FFF;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    font-size: .9375em;
    line-height: normal;
    margin: 0;
}

input#upload {
    opacity: 0;
    max-width: 290px;
    width: 90%;
    position: relative;
    top: -30;
}