.container-test.container-content {
	width: 70%;
	margin: auto;
}

.navbar-user-img1 {
	margin: -20px 12px -20px 0;
	width: 80px;
	height: 80px;
}

@media ( min-width :992px) {
	.container-fluid.container-content {
		width: 90%;
		margin: auto;
	}
	.col-sm-12>.card h3, .col-sm-12>.card p {
		display: block;
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 50%;
	}
}

.text-primary1 {
	color: #3134ad;
}

.card.receipt {
	min-height: 500px;
}

.card.friendlist {
	min-height: 400px;
}

.col-sm-12>.card div.test {
	display: block;
}

.col-sm-12>.card button.test {
	display: block;
	background: transparent;
    border: 0px;
    color: #2ebd59;
}

.col-sm-12>.card button.test1 {
	display: block;
	background: transparent;
    border: 0px;
    color: #2ebd59;
    width: 100%;
}

.test.form-group:hover {
    background-color: #cccccc;
}


.col-sm-12>.card button > font {

    color: black;
}

@media ( min-width : 992px) {
	.navbar-user-img2 {
		/* margin: -20px 12px -20px 0; */
		width: 40px;
		height: 40px;
	}
}

.navbar-user-img2 {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	display: inline-block;
	vertical-align: middle;
    margin-right: 20px;
}

.navbar-user-img2.user-icon-container {
	border: 2px solid currentColor;
}

.navbar-user-img2.user-icon-container .user-icon {
	fill: currentColor;
	height: 100%;
	padding: 7px;
	width: 100%;
}

.card .form-group .form-control-static1 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.test001 {
    position: relative;
    bottom: -200px;
}

.reboot input[type=text], .reboot input[type=email], .reboot input[type=password], .reboot input[type=number], .reboot input[type=tel], .reboot textarea {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    padding: 1em .75em .6875em;
    width: 100%;
    height: 3em;
}
.reboot input:not([type='radio']), .reboot textarea {
    background-color: #FFF;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    line-height: normal;
    margin: 0;
}

.reboot fieldset {
    border: 0;
    margin: 0 2px;
    padding: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

.reboot fieldset li {
    display: block;
    margin-bottom: 1em;
    text-align: left;
}

.reboot fieldset ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reboot .name {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
}

.reboot .register-dob {
    text-align: justify;
    line-height: 0;
}


.reboot label {
    color: #88898c;
    display: block;
    font-size: .9375em;
    text-align: left;
}

.reboot form {
    position: relative;
}

.reboot .controls-dob .dob {
    text-transform: capitalize;
}

.reboot select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid #dfe0e6;
    color: #88898c;
    font-size: .9375em;
    height: 3em;
    margin: 0;
    padding: .625em .625em .625em;
    width: 100%;
}

.reboot .controls-dob .controls {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.reboot .controls-dob1 .controls {
    display: inline-block;
    vertical-align: top;
    width: 16%;
}

.reboot .controls-dob1 .dob {
    text-transform: capitalize;
}

.reboot label.has-error {
	padding-top: 10px;
    color: #bd3200;
}

.reboot select.has-error {
    border-color: #bd3200;
}

.reboot input.has-error, .reboot select.has-error, .reboot textarea.has-error {
    margin-bottom: .25em;
}
.reboot input.has-error, .reboot textarea.has-error {
    border-color: #bd3200;
}

.page-header h1.title {
    font-size: 50px;
    margin: .5em 0;
    color: red;
    font-weight: 900;
    font-style: italic;
}

font.name {
    position: relative;
    z-index: 200;
    color: beige;
    font-size: 45px;
    font-style: italic;
    left: 110px;

}
font.dob {
    position: relative;
    z-index: 200;
    color: beige;
    font-size: 25px;
    top: -10px;
    left: 140px;

}

font.location {
    position: relative;
    z-index: 200;
    color: beige;
    font-size: 25px;
    top: -15px;
    left: 140px;

}

.container-content1 {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c1c1c', endColorstr='#ff171717', GradientType=1);
    background: transparent;
}

hr.hand {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #eb1e32;
    position: relative;
    top: -785px;
    left: 45px;
    width: 150px;
}

hr.weight {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #eb1e32;
    position: relative;
    top: -390px;
    left: -190px;
    width: 150px;
}

hr.height {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #eb1e32;
    position: relative;
    top: -700px;
    left: 80px;
    width: 150px;
}



@media (max-width: 991px){
	.container{
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	    min-width: 550px;
	}
}

div.user-link {
    position: relative;
    left: 20px;
    top: -145px;
    width: 200px;
    height: 200px;
}

div#container {
    position: relative;
    top: -200px;
    width: 400px;
}

img.player {
    position: relative;
    top: -150px;
    width: auto;
    max-width: 500px;
    left: -200px;
}

@media (min-width: 992px){
	.navbar-user-img {
	    margin: 0;
	}
}

span.position::before {
    content: 'Position';
}

span.height::before {
    content: 'Height';
}

span.weight::before {
    content: 'Weight';
}

span.hand::before {
    content: 'Hand';
}

span.note::before {
    content: 'Note';
}

span.position {
    left: 414px;
    width: 100px;
}

span.hand {
    left: 673px;
    width: 100px;
}

span.height {
    left: 517px;
    width: 75px;
}

span.weight {
    left: 595px;
    width: 75px;
}

span.note {
    left: 414px;
    width: 359px;
}

span.position, span.height, span.weight, span.hand{
    display: block;
    background-color: #fffcfc;
    padding: 28px 0px 6px;
    position: absolute;
    top: 50%;
    font-size: 24px;
    /* line-height: .75em; */
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

span.note{
	display: block;
    background-color: #fffcfc;
    padding: 28px 0px 6px;
    position: relative;
    top: 110px;
    font-size: 24px;
    /* line-height: .75em; */
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

span.position::before, span.height::before, span.weight::before, span.hand::before {
    background-color: #d4cece;
    line-height: 24px;
    text-align: center;
    display: block;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
}
 span.note::before{
    background-color: #d4cece;
    line-height: 24px;
    text-align: center;
    display: block;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
 }

.info {
    position: relative;
    bottom: 950px;
    left: 60px;
}

@media (max-width: 991px) and (min-width: 768px){
	.info {
    position: initial;
    bottom: 0;
    left: 0;
	}
}
@media (max-width: 767px){
	.info {
    position: initial;
    bottom: 0;
    left: 0;
 	}
}

button#btn-update-playercard {
    position: relative;
    top: -60px;
    float: right;
}

td.title {
    background-color: #d4cece;
    border: 2px solid #15213c;
    padding: 5px;
    width: 100px;
    text-align: center;
    font-weight: 500;
}

td.context {
    background-color: #fffcfc;
    border: 2px solid #15213c;
    padding: 5px;
    width: 100px;
    text-align: center;
    font-weight: 300;
}

