USE [master]
GO
/****** Object:  Database [MagicJack_main]    Script Date: 2016/9/29 上午 10:28:47 ******/
CREATE DATABASE [MagicJack_main]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MagicJack_main', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MagicJack_main.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MagicJack_main_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MagicJack_main_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MagicJack_main].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MagicJack_main]
GO
/****** Object:  Table [dbo].[BattleRecord]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BattleRecord](
	[battleId] [int] IDENTITY(1,1) NOT NULL,
	[teamIdA] [int] NOT NULL,
	[teamIdB] [int] NULL,
	[battleStatus] [int] NULL,
	[courtId] [int] NOT NULL,
	[battleMode] [int] NOT NULL,
	[battleBet] [decimal](10, 2) NULL,
	[battleDateTime] [datetime] NOT NULL,
	[result] [int] NULL,
	[reportA] [int] NULL,
	[reportB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[battleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BattleSet]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BattleSet](
	[battleId] [int] IDENTITY(1,1) NOT NULL,
	[battleDateTime] [datetime] NOT NULL,
	[homeId] [int] NOT NULL,
	[awayId] [int] NOT NULL,
	[homeScore] [int] NOT NULL,
	[awayScore] [int] NOT NULL,
	[homebet] [decimal](10, 2) NULL,
	[awaybet] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[battleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChatLike]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLike](
	[likeId] [int] IDENTITY(1,1) NOT NULL,
	[chatId] [int] NULL,
	[memberName] [nvarchar](10) NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[likeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Club]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Club](
	[clubId] [int] IDENTITY(1,1) NOT NULL,
	[clubName] [nvarchar](20) NOT NULL,
	[clubImgUrl] [varchar](50) NULL,
	[clubDate] [date] NOT NULL,
	[clubHead] [uniqueidentifier] NOT NULL,
	[clubProp] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClubApply]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubApply](
	[clubId] [int] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[applyDate] [date] NOT NULL,
	[checked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[clubId] ASC,
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClubChat]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClubChat](
	[chatId] [int] IDENTITY(1,1) NOT NULL,
	[clubId] [int] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[memberName] [nvarchar](10) NOT NULL,
	[memberUrl] [nvarchar](20) NULL,
	[memberFBId] [varchar](20) NULL,
	[content] [nvarchar](200) NOT NULL,
	[chatDateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClubInvite]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubInvite](
	[clubId] [int] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[clubMemberId] [uniqueidentifier] NOT NULL,
	[inviteDay] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clubId] ASC,
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClubMemberTable]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubMemberTable](
	[clubId] [int] NOT NULL,
	[clubMemberId] [uniqueidentifier] NOT NULL,
	[joinDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clubMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Court]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Court](
	[courtId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[courtaddress] [nvarchar](50) NOT NULL,
	[imgUrl] [varchar](max) NOT NULL,
	[latitude] [decimal](15, 12) NOT NULL,
	[longitude] [decimal](15, 12) NOT NULL,
	[webUrl] [varchar](100) NOT NULL,
	[phone] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FightRecord]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FightRecord](
	[fightId] [int] NOT NULL,
	[clubId] [int] NOT NULL,
	[clubMemberId] [uniqueidentifier] NOT NULL,
	[gamePlayer] [int] NULL,
	[position] [varchar](10) NULL,
	[gameStart] [bit] NULL,
	[minPlay] [varchar](10) NULL,
	[trePA] [int] NULL,
	[trePM] [int] NULL,
	[trePP] [decimal](4, 1) NULL,
	[twoPA] [int] NULL,
	[twoPM] [int] NULL,
	[twoPP] [decimal](4, 1) NULL,
	[fta] [int] NULL,
	[ftm] [int] NULL,
	[ftp] [decimal](4, 1) NULL,
	[ofRep] [int] NULL,
	[deRep] [int] NULL,
	[totalRep] [int] NULL,
	[ass] [int] NULL,
	[steal] [int] NULL,
	[block] [int] NULL,
	[turnOver] [int] NULL,
	[fouls] [int] NULL,
	[score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fightId] ASC,
	[clubMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FriendsList]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendsList](
	[memberId] [uniqueidentifier] NOT NULL,
	[memberFriendId] [uniqueidentifier] NOT NULL,
	[memberStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC,
	[memberFriendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GambleOrder]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GambleOrder](
	[gambleId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [uniqueidentifier] NULL,
	[battleId] [int] NOT NULL,
	[betHome] [decimal](10, 2) NOT NULL,
	[betAway] [decimal](10, 2) NOT NULL,
	[betTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gambleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoodsOrder]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoodsOrder](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [uniqueidentifier] NULL,
	[cardNum] [varchar](60) NOT NULL,
	[fullName] [nvarchar](15) NOT NULL,
	[expireYY] [varchar](7) NOT NULL,
	[expireMM] [varchar](7) NOT NULL,
	[cvc] [varchar](10) NOT NULL,
	[ntdQty] [int] NOT NULL,
	[coinQty] [decimal](10, 2) NOT NULL,
	[orderDateTime] [datetime] NOT NULL,
	[isPay] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[League]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League](
	[leagueId] [int] IDENTITY(1,1) NOT NULL,
	[leagueName] [nvarchar](10) NOT NULL,
	[clubAmount] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[courtId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[leagueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeagueClub]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeagueClub](
	[leagueId] [int] NOT NULL,
	[clubId] [int] NOT NULL,
	[groups] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[leagueId] ASC,
	[clubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeagueRecord]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeagueRecord](
	[fightId] [int] IDENTITY(1,1) NOT NULL,
	[leagueId] [int] NOT NULL,
	[clubIdA] [int] NOT NULL,
	[clubIdB] [int] NOT NULL,
	[fightDateTime] [datetime] NOT NULL,
	[rounds] [int] NULL,
	[scoreA] [int] NULL,
	[scoreB] [int] NULL,
	[totalTime] [varchar](10) NULL,
	[winner] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[memberId] [uniqueidentifier] NOT NULL,
	[memberFirstName] [nvarchar](10) NOT NULL,
	[memberLastName] [nvarchar](10) NOT NULL,
	[memberPassword] [varchar](32) NULL,
	[memberBirthday] [date] NOT NULL,
	[memberPhone] [varchar](15) NOT NULL,
	[memberMail] [varchar](64) NOT NULL,
	[memberImgUrl] [varchar](50) NULL,
	[memberPoint] [decimal](10, 2) NULL,
	[memberHaveCard] [bit] NULL,
	[memberFbId] [varchar](20) NULL,
	[memberType] [int] NULL,
	[memberRgDateTime] [datetime] NOT NULL,
	[memberMailStatus] [bit] NULL,
	[memberOutDate] [datetime] NULL,
	[memberValidateCode] [char](36) NULL,
	[memberSecretKey] [char](36) NULL,
	[member2StepVerify] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberScratchCode]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberScratchCode](
	[memberId] [uniqueidentifier] NOT NULL,
	[scratchCode] [int] NOT NULL,
	[isUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC,
	[scratchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ｍessage]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ｍessage](
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[chatId] [int] NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[memberName] [nvarchar](10) NOT NULL,
	[memberUrl] [nvarchar](20) NULL,
	[memberFBId] [varchar](20) NULL,
	[content] [nvarchar](100) NOT NULL,
	[chatDateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NBATeam]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NBATeam](
	[teamId] [int] IDENTITY(1,1) NOT NULL,
	[teamName] [varchar](64) NOT NULL,
	[teamLogoURL] [varchar](50) NOT NULL,
	[start5URL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlayerCard]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerCard](
	[memberId] [uniqueidentifier] NOT NULL,
	[playerGender] [bit] NOT NULL,
	[playerHeight] [decimal](5, 2) NOT NULL,
	[playerWeight] [decimal](5, 2) NOT NULL,
	[playerPosition] [nvarchar](3) NOT NULL,
	[playerHand] [bit] NOT NULL,
	[playerNote] [nvarchar](100) NOT NULL,
	[playerLoation] [nvarchar](32) NOT NULL,
	[playerSTR] [int] NOT NULL,
	[playerCON] [int] NOT NULL,
	[playerDEX] [int] NOT NULL,
	[playerINT] [int] NOT NULL,
	[playerWIS] [int] NOT NULL,
	[playerCHA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayerRecord]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerRecord](
	[recordId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [uniqueidentifier] NULL,
	[comtMemberId] [uniqueidentifier] NULL,
	[recordDateTime] [datetime] NULL,
	[title] [nvarchar](20) NULL,
	[comt] [nvarchar](200) NULL,
	[ranking] [decimal](2, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[recordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[reportId] [int] IDENTITY(1,1) NOT NULL,
	[reportMemberId] [uniqueidentifier] NOT NULL,
	[reportType] [int] NOT NULL,
	[reportContent] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Team]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[teamId] [int] IDENTITY(1,1) NOT NULL,
	[teamName] [nvarchar](10) NOT NULL,
	[createDate] [date] NOT NULL,
	[teamProp] [int] NOT NULL,
	[avgRank] [decimal](2, 1) NULL,
	[teamHead] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](200) NULL,
	[location] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamApply]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamApply](
	[teamId] [int] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[applystatus] [int] NULL,
	[applyDate] [date] NOT NULL,
	[checked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[teamId] ASC,
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamInvite]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamInvite](
	[teamId] [int] NOT NULL,
	[memberId] [uniqueidentifier] NOT NULL,
	[teamMemberId] [uniqueidentifier] NOT NULL,
	[invstatus] [int] NULL,
	[inviteDate] [date] NOT NULL,
	[checked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[teamId] ASC,
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 2016/9/29 上午 10:28:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[teamId] [int] NOT NULL,
	[teamMemberId] [uniqueidentifier] NOT NULL,
	[joinDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teamId] ASC,
	[teamMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BattleRecord] ON 

INSERT [dbo].[BattleRecord] ([battleId], [teamIdA], [teamIdB], [battleStatus], [courtId], [battleMode], [battleBet], [battleDateTime], [result], [reportA], [reportB]) VALUES (1, 6, 2, 0, 1, 3, CAST(8444.69 AS Decimal(10, 2)), CAST(0x0000A68D012698F0 AS DateTime), 0, 0, 0)
INSERT [dbo].[BattleRecord] ([battleId], [teamIdA], [teamIdB], [battleStatus], [courtId], [battleMode], [battleBet], [battleDateTime], [result], [reportA], [reportB]) VALUES (2, 2, 5, 0, 1, 3, CAST(5184.58 AS Decimal(10, 2)), CAST(0x0000A68E0089BCAA AS DateTime), 0, 0, 0)
INSERT [dbo].[BattleRecord] ([battleId], [teamIdA], [teamIdB], [battleStatus], [courtId], [battleMode], [battleBet], [battleDateTime], [result], [reportA], [reportB]) VALUES (3, 5, 6, 0, 1, 3, CAST(225.18 AS Decimal(10, 2)), CAST(0x0000A68E00B7A328 AS DateTime), 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[BattleRecord] OFF
SET IDENTITY_INSERT [dbo].[BattleSet] ON 

INSERT [dbo].[BattleSet] ([battleId], [battleDateTime], [homeId], [awayId], [homeScore], [awayScore], [homebet], [awaybet]) VALUES (1, CAST(0x0000A6310095F6A0 AS DateTime), 11, 22, 73, 60, CAST(1718000.00 AS Decimal(10, 2)), CAST(3459300.00 AS Decimal(10, 2)))
INSERT [dbo].[BattleSet] ([battleId], [battleDateTime], [homeId], [awayId], [homeScore], [awayScore], [homebet], [awaybet]) VALUES (2, CAST(0x0000A6310126FBA0 AS DateTime), 6, 26, 64, 77, CAST(4448500.00 AS Decimal(10, 2)), CAST(3026000.00 AS Decimal(10, 2)))
INSERT [dbo].[BattleSet] ([battleId], [battleDateTime], [homeId], [awayId], [homeScore], [awayScore], [homebet], [awaybet]) VALUES (3, CAST(0x0000A63100423150 AS DateTime), 9, 16, 66, 96, CAST(3120700.00 AS Decimal(10, 2)), CAST(1864200.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[BattleSet] OFF
SET IDENTITY_INSERT [dbo].[Club] ON 

INSERT [dbo].[Club] ([clubId], [clubName], [clubImgUrl], [clubDate], [clubHead], [clubProp]) VALUES (1, N'辛普森家族', N'Simpsons.jpg', CAST(0x80360B00 AS Date), N'9f9fde57-21be-435d-b6c5-0909efdaad92', 1)
INSERT [dbo].[Club] ([clubId], [clubName], [clubImgUrl], [clubDate], [clubHead], [clubProp]) VALUES (2, N'AnimalMonster', N'Monster.jpg', CAST(0xED370B00 AS Date), N'3d207faf-fb95-4b14-9128-1b1510f17a17', 1)
INSERT [dbo].[Club] ([clubId], [clubName], [clubImgUrl], [clubDate], [clubHead], [clubProp]) VALUES (3, N'Joker', N'joker.jpg', CAST(0x5A390B00 AS Date), N'574be759-4ba9-4b3f-9583-227fdc76daab', 1)
SET IDENTITY_INSERT [dbo].[Club] OFF
INSERT [dbo].[ClubMemberTable] ([clubId], [clubMemberId], [joinDate]) VALUES (1, N'775221fd-109f-45cd-8c9e-0190516bbd44', CAST(0xA33B0B00 AS Date))
INSERT [dbo].[ClubMemberTable] ([clubId], [clubMemberId], [joinDate]) VALUES (1, N'66a80d52-7fa8-4835-9bc9-04b92bd64613', CAST(0xA33B0B00 AS Date))
INSERT [dbo].[ClubMemberTable] ([clubId], [clubMemberId], [joinDate]) VALUES (1, N'c4851620-72d4-4f2e-9d3c-04bb89d39dad', CAST(0xA33B0B00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[Court] ON 

INSERT [dbo].[Court] ([courtId], [name], [courtaddress], [imgUrl], [latitude], [longitude], [webUrl], [phone]) VALUES (1, N'松山高中活動中心', N'臺北市信義區基隆路一段156號', N'http://az804957.vo.msecnd.net/photogym/20140620140540_DSCN1826.JPG', CAST(25.043717002591 AS Decimal(15, 12)), CAST(121.565426588058 AS Decimal(15, 12)), N'http://www.sssh.tp.edu.tw', N'(02)27535968')
INSERT [dbo].[Court] ([courtId], [name], [courtaddress], [imgUrl], [latitude], [longitude], [webUrl], [phone]) VALUES (2, N'民生國小操場', N'臺北市松山區敦化北路199巷18號', N'http://az804957.vo.msecnd.net/photogym/20140730152034_DSC05322.jpg', CAST(25.056120666621 AS Decimal(15, 12)), CAST(121.552723646164 AS Decimal(15, 12)), N'http://www.msps.tp.edu.tw', N'(02)27122452*821')
INSERT [dbo].[Court] ([courtId], [name], [courtaddress], [imgUrl], [latitude], [longitude], [webUrl], [phone]) VALUES (3, N'文山特殊教育學校體育館', N'[116]臺北市文山區秀明路一段169號', N'http://az804957.vo.msecnd.net/photogym/20140730152515_P7307487.JPG', CAST(24.991912169665 AS Decimal(15, 12)), CAST(121.567148566246 AS Decimal(15, 12)), N'http://www.wsses.tp.edu.tw/', N'(02)86615183#302')
GO
SET IDENTITY_INSERT [dbo].[Court] OFF
INSERT [dbo].[FightRecord] ([fightId], [clubId], [clubMemberId], [gamePlayer], [position], [gameStart], [minPlay], [trePA], [trePM], [trePP], [twoPA], [twoPM], [twoPP], [fta], [ftm], [ftp], [ofRep], [deRep], [totalRep], [ass], [steal], [block], [turnOver], [fouls], [score]) VALUES (1, 1, N'775221fd-109f-45cd-8c9e-0190516bbd44', 21, N'PF/SF', 1, N'35:56', 7, 2, CAST(29.0 AS Decimal(4, 1)), 3, 0, CAST(0.0 AS Decimal(4, 1)), 8, 5, CAST(63.0 AS Decimal(4, 1)), 0, 4, 4, 3, 0, 0, 2, 4, 11)
INSERT [dbo].[FightRecord] ([fightId], [clubId], [clubMemberId], [gamePlayer], [position], [gameStart], [minPlay], [trePA], [trePM], [trePP], [twoPA], [twoPM], [twoPP], [fta], [ftm], [ftp], [ofRep], [deRep], [totalRep], [ass], [steal], [block], [turnOver], [fouls], [score]) VALUES (1, 1, N'66a80d52-7fa8-4835-9bc9-04b92bd64613', 7, N'C', 1, N'39:36', 0, 0, CAST(0.0 AS Decimal(4, 1)), 12, 7, CAST(58.0 AS Decimal(4, 1)), 10, 6, CAST(60.0 AS Decimal(4, 1)), 4, 9, 13, 0, 2, 3, 4, 1, 20)
INSERT [dbo].[FightRecord] ([fightId], [clubId], [clubMemberId], [gamePlayer], [position], [gameStart], [minPlay], [trePA], [trePM], [trePP], [twoPA], [twoPM], [twoPP], [fta], [ftm], [ftp], [ofRep], [deRep], [totalRep], [ass], [steal], [block], [turnOver], [fouls], [score]) VALUES (1, 1, N'c4851620-72d4-4f2e-9d3c-04bb89d39dad', 4, N'PG', 1, N'17:35', 2, 0, CAST(0.0 AS Decimal(4, 1)), 1, 0, CAST(0.0 AS Decimal(4, 1)), 0, 0, CAST(0.0 AS Decimal(4, 1)), 0, 2, 2, 3, 1, 0, 1, 2, 0)
GO
INSERT [dbo].[FriendsList] ([memberId], [memberFriendId], [memberStatus]) VALUES (N'3877033a-f745-473b-8563-1e04d0e581ee', N'476903c9-9720-4504-8be6-fcea58e5e38b', 1)
INSERT [dbo].[FriendsList] ([memberId], [memberFriendId], [memberStatus]) VALUES (N'b2a5d83e-9a38-4f04-9d9d-2a1d8fab9867', N'476903c9-9720-4504-8be6-fcea58e5e38b', 3)
INSERT [dbo].[FriendsList] ([memberId], [memberFriendId], [memberStatus]) VALUES (N'8b1b581e-a278-45c2-ac82-63ca17e7b520', N'476903c9-9720-4504-8be6-fcea58e5e38b', 2)
SET IDENTITY_INSERT [dbo].[GambleOrder] ON 

INSERT [dbo].[GambleOrder] ([gambleId], [memberId], [battleId], [betHome], [betAway], [betTime]) VALUES (1, N'3d207faf-fb95-4b14-9128-1b1510f17a17', 1, CAST(200.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)), CAST(0x0000A631010A6B20 AS DateTime))
INSERT [dbo].[GambleOrder] ([gambleId], [memberId], [battleId], [betHome], [betAway], [betTime]) VALUES (2, N'd9cd1984-4278-437d-a35c-24b67d13e0ca', 1, CAST(0.00 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), CAST(0x0000A630005524E0 AS DateTime))
INSERT [dbo].[GambleOrder] ([gambleId], [memberId], [battleId], [betHome], [betAway], [betTime]) VALUES (3, N'55267c35-8f7d-4c5b-b1be-133cb51d264a', 1, CAST(300.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), CAST(0x0000A6310118F9B0 AS DateTime))
SET IDENTITY_INSERT [dbo].[GambleOrder] OFF
SET IDENTITY_INSERT [dbo].[GoodsOrder] ON 

INSERT [dbo].[GoodsOrder] ([orderId], [memberId], [cardNum], [fullName], [expireYY], [expireMM], [cvc], [ntdQty], [coinQty], [orderDateTime], [isPay]) VALUES (1, N'775221fd-109f-45cd-8c9e-0190516bbd44', N'1AFXDmkLUX8eUWs0OHWfrx15Xi6wU6byl2GiEXZ+f48=', N'三重劉德華', N'2018', N'09', N'365', 100, CAST(10000.00 AS Decimal(10, 2)), CAST(0x0000A67D006AB918 AS DateTime), 0)
INSERT [dbo].[GoodsOrder] ([orderId], [memberId], [cardNum], [fullName], [expireYY], [expireMM], [cvc], [ntdQty], [coinQty], [orderDateTime], [isPay]) VALUES (2, N'66a80d52-7fa8-4835-9bc9-04b92bd64613', N'fKJuZOXKrWzv8st5DjNRs4cIWrTXqGLpDXgitIcOFUQ=', N'板橋劉德華', N'2022', N'01', N'614', 1200, CAST(120000.00 AS Decimal(10, 2)), CAST(0x0000A67E00BD0894 AS DateTime), 0)
INSERT [dbo].[GoodsOrder] ([orderId], [memberId], [cardNum], [fullName], [expireYY], [expireMM], [cvc], [ntdQty], [coinQty], [orderDateTime], [isPay]) VALUES (3, N'c4851620-72d4-4f2e-9d3c-04bb89d39dad', N'xZOiJ0WVg2R5fchXd0Uwbg5Y//hdIVR0a4O+ozrPXYk=', N'永和劉德華', N'2019', N'11', N'780', 520, CAST(52000.00 AS Decimal(10, 2)), CAST(0x0000A67F00FEE584 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[GoodsOrder] OFF
SET IDENTITY_INSERT [dbo].[League] ON 

INSERT [dbo].[League] ([leagueId], [leagueName], [clubAmount], [startDate], [endDate], [courtId]) VALUES (1, N'世界盃', 12, CAST(0xCF3B0B00 AS Date), CAST(0x293C0B00 AS Date), 2)
INSERT [dbo].[League] ([leagueId], [leagueName], [clubAmount], [startDate], [endDate], [courtId]) VALUES (2, N'來一盃', 12, CAST(0xED3B0B00 AS Date), CAST(0x293C0B00 AS Date), 2)
INSERT [dbo].[League] ([leagueId], [leagueName], [clubAmount], [startDate], [endDate], [courtId]) VALUES (5, N'123', 12, CAST(0xF33B0B00 AS Date), CAST(0x013C0B00 AS Date), 12)
SET IDENTITY_INSERT [dbo].[League] OFF
INSERT [dbo].[LeagueClub] ([leagueId], [clubId], [groups]) VALUES (1, 1, 1)
INSERT [dbo].[LeagueClub] ([leagueId], [clubId], [groups]) VALUES (1, 2, 2)
INSERT [dbo].[LeagueClub] ([leagueId], [clubId], [groups]) VALUES (1, 3, 3)
SET IDENTITY_INSERT [dbo].[LeagueRecord] ON 

INSERT [dbo].[LeagueRecord] ([fightId], [leagueId], [clubIdA], [clubIdB], [fightDateTime], [rounds], [scoreA], [scoreB], [totalTime], [winner]) VALUES (1, 1, 1, 12, CAST(0x0000A63700CDFE60 AS DateTime), 1, 73, 70, N'50:28', 1)
INSERT [dbo].[LeagueRecord] ([fightId], [leagueId], [clubIdA], [clubIdB], [fightDateTime], [rounds], [scoreA], [scoreB], [totalTime], [winner]) VALUES (2, 1, 2, 4, CAST(0x0000A63700EEF3E0 AS DateTime), 1, 81, 80, N'55:28', 2)
INSERT [dbo].[LeagueRecord] ([fightId], [leagueId], [clubIdA], [clubIdB], [fightDateTime], [rounds], [scoreA], [scoreB], [totalTime], [winner]) VALUES (3, 1, 5, 10, CAST(0x0000A638010FE960 AS DateTime), 1, 59, 70, N'40:58', 10)
SET IDENTITY_INSERT [dbo].[LeagueRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[NBATeam] ON 

INSERT [dbo].[NBATeam] ([teamId], [teamName], [teamLogoURL], [start5URL]) VALUES (1, N'亞特蘭大老鷹', N'/image/NBA_teamLogo/Hawks.png', N'/image/start5/Hawks.png')
INSERT [dbo].[NBATeam] ([teamId], [teamName], [teamLogoURL], [start5URL]) VALUES (2, N'波士頓塞爾提克', N'/image/NBA_teamLogo/Celtics.png', N'/image/start5/Celtics.png')
INSERT [dbo].[NBATeam] ([teamId], [teamName], [teamLogoURL], [start5URL]) VALUES (3, N'紐澤西籃網', N'/image/NBA_teamLogo/Nets.png', N'/image/start5/Nets.png')
SET IDENTITY_INSERT [dbo].[NBATeam] OFF
INSERT [dbo].[PlayerCard] ([memberId], [playerGender], [playerHeight], [playerWeight], [playerPosition], [playerHand], [playerNote], [playerLoation], [playerSTR], [playerCON], [playerDEX], [playerINT], [playerWIS], [playerCHA]) VALUES (N'775221fd-109f-45cd-8c9e-0190516bbd44', 1, CAST(156.03 AS Decimal(5, 2)), CAST(81.98 AS Decimal(5, 2)), N'SG', 0, N'我們也有「輸」的時候，這是很難得的經驗。', N'基隆市', 9, 7, 1, 3, 0, 0)
INSERT [dbo].[PlayerCard] ([memberId], [playerGender], [playerHeight], [playerWeight], [playerPosition], [playerHand], [playerNote], [playerLoation], [playerSTR], [playerCON], [playerDEX], [playerINT], [playerWIS], [playerCHA]) VALUES (N'66a80d52-7fa8-4835-9bc9-04b92bd64613', 1, CAST(162.74 AS Decimal(5, 2)), CAST(81.51 AS Decimal(5, 2)), N'C', 1, N'左手只是輔助!!!', N'基隆市', 14, 1, 1, 3, 1, 0)
INSERT [dbo].[PlayerCard] ([memberId], [playerGender], [playerHeight], [playerWeight], [playerPosition], [playerHand], [playerNote], [playerLoation], [playerSTR], [playerCON], [playerDEX], [playerINT], [playerWIS], [playerCHA]) VALUES (N'c4851620-72d4-4f2e-9d3c-04bb89d39dad', 1, CAST(181.03 AS Decimal(5, 2)), CAST(86.94 AS Decimal(5, 2)), N'SG', 0, N'就算是以後不能走路了也不要緊，這是好不容易才抓到的機會！', N'桃園市', 3, 2, 9, 0, 0, 6)
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([teamId], [teamName], [createDate], [teamProp], [avgRank], [teamHead], [content], [location]) VALUES (1, N'起司貓', CAST(0xE43B0B00 AS Date), 1, CAST(0.0 AS Decimal(2, 1)), N'665d8845-4daf-4625-9453-1570fcf2accf', N'Hello Everyone', N'臺北市')
INSERT [dbo].[Team] ([teamId], [teamName], [createDate], [teamProp], [avgRank], [teamHead], [content], [location]) VALUES (2, N'東區勇士', CAST(0xE43B0B00 AS Date), 0, CAST(0.0 AS Decimal(2, 1)), N'f98fe761-237b-4cba-997d-080f59cbc04a', N'Hello Everyone', N'臺北市')
INSERT [dbo].[Team] ([teamId], [teamName], [createDate], [teamProp], [avgRank], [teamHead], [content], [location]) VALUES (3, N'老師說的隊', CAST(0xE43B0B00 AS Date), 1, CAST(0.0 AS Decimal(2, 1)), N'775221fd-109f-45cd-8c9e-0190516bbd44', N'Hello Everyone', N'新北市')
SET IDENTITY_INSERT [dbo].[Team] OFF
INSERT [dbo].[TeamApply] ([teamId], [memberId], [applystatus], [applyDate], [checked]) VALUES (1, N'3bfcab93-90d3-45b9-8f2e-e86142c33ec5', -1, CAST(0xE43B0B00 AS Date), 1)
INSERT [dbo].[TeamApply] ([teamId], [memberId], [applystatus], [applyDate], [checked]) VALUES (3, N'3bfcab93-90d3-45b9-8f2e-e86142c33ec5', 0, CAST(0xE43B0B00 AS Date), 0)
INSERT [dbo].[TeamMember] ([teamId], [teamMemberId], [joinDate]) VALUES (1, N'ab0c8d8a-596a-4876-98ca-0e3ed6d59bde', CAST(0x933B0B00 AS Date))
INSERT [dbo].[TeamMember] ([teamId], [teamMemberId], [joinDate]) VALUES (1, N'44be18db-3fd1-4f86-bde5-1196a7dfea5f', CAST(0x933B0B00 AS Date))
INSERT [dbo].[TeamMember] ([teamId], [teamMemberId], [joinDate]) VALUES (1, N'55267c35-8f7d-4c5b-b1be-133cb51d264a', CAST(0x933B0B00 AS Date))
/****** Object:  Index [PK__Member__7FD7CF17CB34389F]    Script Date: 2016/9/29 上午 10:28:47 ******/
ALTER TABLE [dbo].[Member] ADD PRIMARY KEY NONCLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Member__BA233B9852F6B407]    Script Date: 2016/9/29 上午 10:28:47 ******/
ALTER TABLE [dbo].[Member] ADD UNIQUE NONCLUSTERED 
(
	[memberMail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (newid()) FOR [memberId]
GO
ALTER TABLE [dbo].[Team] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[Team] ADD  DEFAULT ('台北市') FOR [location]
GO
ALTER TABLE [dbo].[TeamApply] ADD  DEFAULT ((0)) FOR [applystatus]
GO
ALTER TABLE [dbo].[TeamApply] ADD  DEFAULT (getdate()) FOR [applyDate]
GO
ALTER TABLE [dbo].[TeamApply] ADD  DEFAULT ((0)) FOR [checked]
GO
ALTER TABLE [dbo].[TeamInvite] ADD  DEFAULT ((0)) FOR [invstatus]
GO
ALTER TABLE [dbo].[TeamInvite] ADD  DEFAULT (getdate()) FOR [inviteDate]
GO
ALTER TABLE [dbo].[TeamInvite] ADD  DEFAULT ((0)) FOR [checked]
GO
ALTER TABLE [dbo].[TeamMember] ADD  DEFAULT (getdate()) FOR [joinDate]
GO
ALTER TABLE [dbo].[BattleRecord]  WITH CHECK ADD FOREIGN KEY([courtId])
REFERENCES [dbo].[Court] ([courtId])
GO
ALTER TABLE [dbo].[BattleRecord]  WITH CHECK ADD FOREIGN KEY([teamIdA])
REFERENCES [dbo].[Team] ([teamId])
GO
ALTER TABLE [dbo].[BattleRecord]  WITH CHECK ADD FOREIGN KEY([teamIdB])
REFERENCES [dbo].[Team] ([teamId])
GO
ALTER TABLE [dbo].[BattleSet]  WITH CHECK ADD FOREIGN KEY([awayId])
REFERENCES [dbo].[NBATeam] ([teamId])
GO
ALTER TABLE [dbo].[BattleSet]  WITH CHECK ADD FOREIGN KEY([homeId])
REFERENCES [dbo].[NBATeam] ([teamId])
GO
ALTER TABLE [dbo].[ChatLike]  WITH CHECK ADD FOREIGN KEY([chatId])
REFERENCES [dbo].[ClubChat] ([chatId])
GO
ALTER TABLE [dbo].[Club]  WITH CHECK ADD FOREIGN KEY([clubHead])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[ClubApply]  WITH CHECK ADD FOREIGN KEY([clubId])
REFERENCES [dbo].[Club] ([clubId])
GO
ALTER TABLE [dbo].[ClubApply]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[ClubChat]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[ClubInvite]  WITH CHECK ADD FOREIGN KEY([clubId])
REFERENCES [dbo].[Club] ([clubId])
GO
ALTER TABLE [dbo].[ClubInvite]  WITH CHECK ADD FOREIGN KEY([clubMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[ClubInvite]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[ClubMemberTable]  WITH CHECK ADD FOREIGN KEY([clubId])
REFERENCES [dbo].[Club] ([clubId])
GO
ALTER TABLE [dbo].[ClubMemberTable]  WITH CHECK ADD FOREIGN KEY([clubMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[FightRecord]  WITH CHECK ADD FOREIGN KEY([fightId])
REFERENCES [dbo].[LeagueRecord] ([fightId])
GO
ALTER TABLE [dbo].[FightRecord]  WITH CHECK ADD  CONSTRAINT [FK_FightRecord_Member] FOREIGN KEY([clubMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[FightRecord] CHECK CONSTRAINT [FK_FightRecord_Member]
GO
ALTER TABLE [dbo].[FriendsList]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[FriendsList]  WITH CHECK ADD FOREIGN KEY([memberFriendId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[GambleOrder]  WITH CHECK ADD FOREIGN KEY([battleId])
REFERENCES [dbo].[BattleSet] ([battleId])
GO
ALTER TABLE [dbo].[GambleOrder]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[GoodsOrder]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[League]  WITH CHECK ADD FOREIGN KEY([courtId])
REFERENCES [dbo].[Court] ([courtId])
GO
ALTER TABLE [dbo].[LeagueClub]  WITH CHECK ADD FOREIGN KEY([clubId])
REFERENCES [dbo].[Club] ([clubId])
GO
ALTER TABLE [dbo].[LeagueClub]  WITH CHECK ADD FOREIGN KEY([leagueId])
REFERENCES [dbo].[League] ([leagueId])
GO
ALTER TABLE [dbo].[LeagueRecord]  WITH CHECK ADD FOREIGN KEY([clubIdA])
REFERENCES [dbo].[Club] ([clubId])
GO
ALTER TABLE [dbo].[LeagueRecord]  WITH CHECK ADD FOREIGN KEY([clubIdB])
REFERENCES [dbo].[Club] ([clubId])
GO
ALTER TABLE [dbo].[LeagueRecord]  WITH CHECK ADD FOREIGN KEY([leagueId])
REFERENCES [dbo].[League] ([leagueId])
GO
ALTER TABLE [dbo].[LeagueRecord]  WITH CHECK ADD FOREIGN KEY([leagueId], [clubIdA])
REFERENCES [dbo].[LeagueClub] ([leagueId], [clubId])
GO
ALTER TABLE [dbo].[LeagueRecord]  WITH CHECK ADD FOREIGN KEY([leagueId], [clubIdB])
REFERENCES [dbo].[LeagueClub] ([leagueId], [clubId])
GO
ALTER TABLE [dbo].[MemberScratchCode]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Ｍessage]  WITH CHECK ADD FOREIGN KEY([chatId])
REFERENCES [dbo].[ClubChat] ([chatId])
GO
ALTER TABLE [dbo].[Ｍessage]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[PlayerCard]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[PlayerRecord]  WITH CHECK ADD FOREIGN KEY([comtMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[PlayerRecord]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([reportMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD FOREIGN KEY([teamHead])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[TeamApply]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[TeamApply]  WITH CHECK ADD FOREIGN KEY([teamId])
REFERENCES [dbo].[Team] ([teamId])
GO
ALTER TABLE [dbo].[TeamInvite]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[TeamInvite]  WITH CHECK ADD FOREIGN KEY([teamId])
REFERENCES [dbo].[Team] ([teamId])
GO
ALTER TABLE [dbo].[TeamInvite]  WITH CHECK ADD FOREIGN KEY([teamMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD FOREIGN KEY([teamId])
REFERENCES [dbo].[Team] ([teamId])
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD FOREIGN KEY([teamMemberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[GoodsOrder]  WITH CHECK ADD CHECK  (([isPay]=(0) OR [isPay]=(1)))
GO
USE [master]
GO
